.plans-header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 5px paleturquoise;
}

.header-plans-title {
  color: pink;
  font-family: "Comic Sans MS";
}

.mypage-main {
  background-color: white;
}

.plan-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4%;
}

.plan-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
}

.plan-lists>.list {
  width: 20vw;
  height: 20hv;
  padding: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
  border-radius: 10%;
  background: -webkit-linear-gradient(to right, #87CEFA, #32EEFF);
  background: linear-gradient(to right, #87CEFA, #32EEFF);
}

.plan-place {
  color: #D7EEFF	;
  text-align: center;
}

@media (max-width: 599px) {
  .header-plans-title {
    color: pink;
    font-size: 13px;
  }

  .plan-lists>.list {
    width: 100px;
    height: 100px;
    padding: 1vw;
    margin-right: 35px;
    margin-bottom: 1vw;
    border-radius: 10%;
    background: -webkit-linear-gradient(to right, #87CEFA, #32EEFF);
    background: linear-gradient(to right, #87CEFA, #32EEFF);
  }

  .plan-place {
    color: #D7EEFF	;
    text-align: center;
    font-size: 16px;
  }
}