<header class='plans-header'>
  <div class='back-btn-content'>
    <%= link_to '<Back', user_path(id: current_user.id), class:"back-btn" %>
  </div>
  <div class='header-plans-title'>
    <h1>My Plans</h1>
  </div>
  <div class='chat-content'>
    <%= link_to '', "#", class:"chat-btn" %>
  </div>
</header>






<%= link_to new_user_plan_path, class: 'plans-post-btn' do %>
  <span class='plans-post-btn-text'>+</span>
<% end %>